<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #div1{
            border: 1px solid black;
            display: inline-block;
            width: 250px;
            height: 280px;
            padding: 40px;
            padding-left: 25px;
            padding-top: 25px;
            background-color: lightslategray;
            margin-left: 500px;
            margin-top: 150px;
            border-radius: 50px;
        }
    </style>
</head>
<body>
    <div id="div1">
        <h2>Login</h2>
        <h3>Log in</h3>
        <input type="text">
        <h3>Password</h3>
        <input type="password"><br><br>
        <button type="button">Login</button>
        <button type="button">Sign up</button>
    </div>
</body>
</html>


